apiVersion: apps/v1
kind: Deployment
metadata:
  name: dephomzy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: homzy
  template:
    metadata:
      labels:
        app: homzy
    spec:
      containers:
        - name: homzy-container
          image: raj456/homzy:56
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "100m"  
              memory: "128Mi"  
            limits:
              cpu: "500m"  
              memory: "256Mi"  
        
